* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.header {
    background: #000;
    max-width: 1540px;
}

.header__inner {
    align-items: center;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.inner__group--item {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.inner__group--item:not(:last-child) {
    margin-right: 10px;
}

.logout-button {
    background: #000;
    border: none;
    color: #fff;
    font-weight: bold;
    padding: 0;
}

.login__content {
    margin: 0 auto;
    max-width: 1540px;
    padding: 50px 30px;
}

.login__heading {
    text-align: center;
    margin-bottom: 40px;
}

.login__heading--item {
    font-size: 28px;
}

.form {
    margin: 0 auto;
    max-width: 100vh;
}

.form__label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.form__input {
    border: 1px solid #000;
    border-radius: 4px;
    height: 50px;
    padding: 10px;
}

.form__group {
    display: flex;
    flex-direction: column;
}

.form__button {
    max-width: 100vh;
    margin: 30px auto;
    text-align: center;
}

.form__button--submit {
    background: #000;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    padding: 10px;
    width: 100%;
}

.form__error {
    color: #FF0000;
    margin-bottom: 40px;
}