.staff-list__content {
    background: #F0EFF2;
    height: 100vh;
    margin: 0 auto;
    max-width: 1540px;
    padding: 50px;
    padding-top: 50px;
}

.content__header {
    border-left: 7px solid #000;
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 100vh;
    padding-left: 10px;
}

.table {
    background: #FFF;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 100vh;
    width: 100%;
}

.table {
    color: #737373;
}

.table__header {
    border-bottom: 3px solid #E1E1E1;
    padding-left: 70px;
    padding-right: 70px;
}

.table__header--item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.table__description {
    text-align: center;
}

.table__description--item {
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.table__item--detail-link {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.table__row:not(:last-child) {
    border-bottom: 2px solid #E1E1E1;
}